article {
  max-width: $max-width;
  margin: 0 auto;
  border-bottom: 5px solid hsl(200, 78%, 55%);
  a {
    text-decoration: underline;
  }
  aside {
    color: $light-brown;
    .notes {
      font-style: italic;
    }
  }
}

header {
  max-width: $max-content-width;
  margin: 0 auto 2rem auto;
}

#body-text {
  margin: 0 auto 2rem auto;
  max-width: $max-content-width;
  padding-bottom: 1rem;
}

.details,
.reviewed {
  margin-bottom: 2rem;
  padding: 0.5rem 0;
}

.reviewed {
  .title {
    line-height: 1.1;
    text-transform: uppercase;
  }
  border: 1px solid $faint-line;
  border-width: 1px 0;
}
