article {
  // Make body-text the exception, a class that can be assigne to promos, etc
  max-width: 1300px;
  margin: 0 auto;
  font-family: $serif;
  border-bottom: 5px solid hsl(200, 78%, 55%);
  a {
    text-decoration: underline;
  }
  aside {
    color: $light-brown;
    font-family: $sans;
    .notes {
      font-style: italic;
    }
  }
}

header {
  max-width: $max-content-width;
  margin: 0 auto 2rem auto;
}

#body-text {
  margin: 0 auto 2rem auto;
  max-width: $max-content-width;
  padding-bottom: 1rem;
}
