@import "./variables.scss";

@mixin month-color($color) {
  h1,
  .end-dot {
    color: $color;
  }
  article {
    border-bottom-color: $color;
  }
}

$saturation: 50%;
$lightness: 45%;

$blue: hsl(177, $saturation, $lightness);
$magenta: hsl(320, $saturation, $lightness);
$orange: hsl(27, $saturation, $lightness);
$green: hsl(98, $saturation, $lightness);
$reddish-pink: hsl(340, $saturation, $lightness);

// complement($colour)

@mixin monthly-colour($colour) {
  border-bottom-color: $colour;
  h1 {
    color: $colour;
  }
  h2 {
    color: $lighter-brown;
  }
  .dropcap {
    &::before,
    &::after {
      color: lighten($colour, 25%);
    }
  }
  .end-dot {
    color: $colour;
    background-color: $colour;
  }
}

article.mejju-2023 {
  @include monthly-colour($reddish-pink);
}

// html {
//   scrollbar-face-color: #eec800;
//   scrollbar-shadow-color: #006cb4;
//   scrollbar-highlight-color: #006cb4;
//   scrollbar-3dlight-color: #006cb4;
//   scrollbar-darkshadow-color: #006cb4;
//   scrollbar-track-color: #006cb4;
//   scrollbar-arrow-color: #c1c1d1;
// }
