@import "./variables.scss";

@mixin month-color($color) {
  h1,
  .end-dot {
    color: $color;
  }
  article {
    border-bottom-color: $color;
  }
}

@mixin monthly-colour($colour) {
  border-bottom-color: $colour;
  h1 {
    color: $colour;
  }
  h2 {
    color: $lighter-brown;
  }
  .dropcap {
    &::before,
    &::after {
      color: lighten($colour, 25%);
    }
  }
  .end-dot {
    color: $colour;
    background-color: $colour;
  }
}

.mejju-2023 {
  @include monthly-colour($green);
}

.ġunju-2023 {
  @include monthly-colour($pink);
}

.lulju-2023 {
  @include monthly-colour($purple);
}

// html {
//   scrollbar-face-color: #eec800;
//   scrollbar-shadow-color: #006cb4;
//   scrollbar-highlight-color: #006cb4;
//   scrollbar-3dlight-color: #006cb4;
//   scrollbar-darkshadow-color: #006cb4;
//   scrollbar-track-color: #006cb4;
//   scrollbar-arrow-color: #c1c1d1;
// }
