@import "./variables.scss";

@mixin month-color($color) {
  h1,
  .end-dot {
    color: $color;
  }
  article {
    border-bottom-color: $color;
  }
}

$blue: hsl(177, 50%, 45%);
$magenta: hsl(320, 50%, 45%);

.mejju-2023 {
  border-bottom-color: $magenta;
  h1,
  .dropcap::before,
  .end-dot {
    color: $magenta;
  }
  .end-dot {
    background-color: $magenta;
  }
}

// html {
//   scrollbar-face-color: #eec800;
//   scrollbar-shadow-color: #006cb4;
//   scrollbar-highlight-color: #006cb4;
//   scrollbar-3dlight-color: #006cb4;
//   scrollbar-darkshadow-color: #006cb4;
//   scrollbar-track-color: #006cb4;
//   scrollbar-arrow-color: #c1c1d1;
// }
