::selection {
  background: $highlight;
  text-shadow: none;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  overflow-y: scroll;
  text-size-adjust: none;
  min-height: 101%;
}

body {
  background-color: $paper;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: $sans, sans;
  line-height: 1.4;
  color: $greyer-brown;
  padding: 5rem 1rem 1rem;
  min-height: 101%;
}

.container {
  max-width: $max-content-width;
  margin: 0 auto;
}

main {
  padding: 2rem 1.2rem 0 1.2rem;
}

@media screen and (min-width: $mobile-breakpoint-plusone) {
  body {
    padding-top: 1rem;
  }
  main {
    padding-top: 5rem;
  }
}

@media screen and (min-width: $laptop-breakpoint) {
  body {
    padding-top: 1rem;
  }
  main {
    padding-top: 7rem;
  }
}
