@import "./variables.scss";

.dropcap {
  color: $lighter-ink;
  float: left;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.6;
  margin-left: -0.25rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  position: relative;
  z-index: -1;
}

.dropcap::before {
  bottom: -0.9rem;
  content: "B";
  font-family: $decorative;
  font-size: 8rem;
  font-weight: 600;
  left: -0.33rem;
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  // better placing
  .dropcap::before {
    left: -1rem;
  }
}

.drop-a::before {
  content: "A";
}
.drop-b::before {
  content: "B";
  left: -0.7rem;
}
.drop-c::before {
  content: "C";
  left: -0.7rem;
}
.drop-d::before {
  content: "D";
  left: -0.7rem;
}
.drop-e::before {
  content: "E";
  left: -0.7rem;
}
.drop-h::before {
  content: "H";
}
.drop-ħ::before {
  content: "H";
}
.drop-o::before {
  content: "O";
}
.drop-q::before {
  content: "Q";
}
.drop-ż::before {
  content: "Z";
}
