footer {
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  background-color: $light-brown;
  border-top: 1px solid $dark-brown;
  margin-top: $body-margin;
  padding: 1rem;
  .footer-content {
    max-width: $max-width;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.2rem;
    color: $paper;
    padding: 0.5rem 0;
    position: relative;
  }
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logotype-container {
  height: 50vw;
  max-height: 180px;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.logotype {
  right: 0;
  bottom: 0;
  width: 100hw;
  position: absolute;
}

.copyright {
  bottom: 0;
  color: $dark-brown;
  display: block;
  position: absolute;
  right: 28%;
  white-space: nowrap;
}

.newsletter-subscribe {
  input {
    border: 1px solid $paper;
    border-radius: 0.25rem;
    padding: 0.25rem;
  }
  input[type="submit"] {
    background-color: $red;
  }
}

.footer-content {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 1em;
  grid-auto-flow: row;
}

.footer-links {
  grid-area: 1 / 1 / 2 / 2;
}

.newsletter-subscribe {
  grid-area: 2 / 1 / 3 / 2;
}

.logotype-container {
  grid-area: 3 / 1 / 4 / 2;
}

@media screen and (min-width: $mobile-breakpoint-plusone) {
  .footer-content {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 0px 1rem;
    grid-auto-flow: row;
    grid-template-areas: "footer-links newsletter-subscribe logotype-container";
  }

  .footer-links {
    grid-area: footer-links;
  }

  .newsletter-subscribe {
    grid-area: newsletter-subscribe;
  }

  .logotype-container {
    grid-area: logotype-container;
  }
}
