// https://grid.layoutit.com?id=Uu2zk4m

@media screen and (min-width: $mobile-breakpoint-plusone) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: $laptop-breakpoint) {
  .grid-mid-panel-top {
    grid-area: unset;
  }
  .grid-mid-panel-bottom {
    grid-area: unset;
    display: block;
  }

  .container {
    max-width: $max-width;
    display: grid;
    grid-template-columns: 1fr $max-content-width 1fr;
    grid-template-rows: auto auto;
    gap: 2rem 2rem;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-max-panel-left-top grid-max-body grid-max-panel-right-top"
      "grid-max-panel-left-bottom grid-max-body grid-max-panel-right-bottom";
  }

  #body-text {
    grid-area: grid-max-body;
  }

  .grid-max-panel-left-bottom {
    grid-area: grid-max-panel-left-bottom;
  }
  .grid-max-panel-right-bottom {
    grid-area: grid-max-panel-right-bottom;
  }
  .grid-max-panel-left-top {
    grid-area: grid-max-panel-left-top;
  }
  .grid-max-panel-right-top {
    grid-area: grid-max-panel-right-top;
  }

  .grid-max-panel-left-bottom,
  .grid-max-panel-right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
