@import './variables.scss';

::selection {
  background: hsl(60, 67%, 65%);
}

html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: $paper;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: 'Alegreya Sans', serif;
  line-height: 1.4;
  color: #212121;
  margin-top: 5rem;
}

@import './type.scss';
@import './article.scss';
@import './nav.scss';
@import './footer.scss';
@import './dropcaps.scss';
@import './colours.scss';
@import './grids.scss';
