h1 {
  font-family: $serif, serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  font-family: $serif, serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
}

h5 {
  display: inline-block;
  font-family: $sans-sc, sans-serif;
  line-height: 1.1;
  text-transform: lowercase;
}

.h {
  white-space: nowrap;
}

.details {
  color: #757575;
  font-family: $sans, sans-serif;
}

.body-text {
  color: $ink;
  font-family: $serif, serif;
  font-size: 1.2rem;
  p {
    margin-bottom: ($body-margin / 2);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  blockquote {
    font-size: 1.1rem;
    padding: ($body-margin / 2) 0 ($body-margin / 2) 2rem;
  }
}

.end-dot {
  border-radius: 50%;
  display: inline-block;
  font-family: $decorative;
  font-size: 0.8rem;
  font-weight: 700;
  height: 0.8rem;
  margin-left: 0.25rem;
  text-align: center;
  width: 0.8rem;
}

.initial {
  /* font-weight: 500; */
  text-transform: uppercase;
}

.outlined {
  text-shadow: -1px -1px 0 $paper, 0 -1px 0 $paper, 1px -1px 0 $paper,
    1px 0 0 $paper, 1px 1px 0 $paper, 0 1px 0 $paper, -1px 1px 0 $paper,
    -1px 0 0 $paper;
}

article a {
  text-decoration-color: $ink;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 1.5px;
}

@media screen and (min-width: $laptop-breakpoint) {
  h1,
  h2 {
    font-size: 3rem;
  }
}
