h1 {
  font-family: $serif, serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-family: $serif, serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

h5 {
  display: inline-block;
  line-height: 1.1;
  text-transform: uppercase;
  &:hover {
    background-color: hsl(200, 78%, 55%);
    color: $paper;
  }
}

.h {
  white-space: nowrap;
}

.reviewed {
  padding: 0.5rem 0;
  margin-bottom: 3rem;
  border: 1px solid $faint-line;
  border-width: 1px 0;
}

.reviewed .title {
  text-transform: uppercase;
}

.reviewed p {
  margin: 0;
}

main {
  padding: 2rem 1.2rem 0 1.2rem;
}

.body-text {
  p {
    color: $ink;
    font-family: $serif, serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.end-dot {
  border-radius: 50%;
  display: inline-block;
  font-family: $decorative;
  font-size: 14px;
  font-weight: 700;
  height: 14px;
  margin-left: 0.25rem;
  text-align: center;
  vertical-align: -1px;
  width: 14px;
}

.initial {
  /* font-weight: 500; */
  text-transform: uppercase;
}

.outlined {
  text-shadow: -1px -1px 0 $paper, 0 -1px 0 $paper, 1px -1px 0 $paper,
    1px 0 0 $paper, 1px 1px 0 $paper, 0 1px 0 $paper, -1px 1px 0 $paper,
    -1px 0 0 $paper;
}
