$mobile-breakpoint: 750px;
$mobile-breakpoint-plusone: ($mobile-breakpoint + 1px);
$laptop-breakpoint: 1200px;

$max-content-width: 39rem;
$max-logo-width: 820px;
$max-width: 1300px;

$sans: "Alegreya Sans";
$sans-sc: "Alegreya Sans SC";
$serif: "Alegreya";
$serif-sc: "Alegreya SC";
$decorative: "Cinzel Decorative";

$dark-brown: hsl(33, 30%, 7%);
$light-brown: hsl(26, 5%, 28%);
$lighter-brown: hsl(26, 5%, 48%);
$faint-brown: hsl(26, 5%, 88%);
$greyer-brown: hsl(30, 1%, 66%);

$paper: hsl(60, 20%, 97%);
$ink: hsl(0, 0%, 13%);
$lighter-ink: hsl(0, 0%, 23%);
$highlight: hsl(60, 57%, 74%);

$faint-line: $faint-brown;
$light-text: $light-brown;
