@import "./variables.scss";

@mixin monthly-colour($colour) {
  border-bottom-color: $colour;
  h1 {
    color: $colour;
  }
  .dropcap {
    &::before,
    &::after {
      color: lighten($colour, 25%);
    }
  }
  .end-dot {
    color: $colour;
    background-color: $colour;
  }
}

h1 {
  color: $h1-color;
}

h2 {
  color: $h2-color;
}
h5 {
  color: $h5-color;
}

// Make it this month
.promo-2 {
  background-color: lighten($mejju-2023, 25%);
}

.promo-1 {
  &:before,
  &:after {
    color: complement($mejju-2023);
  }
}

.mejju-2023 {
  @include monthly-colour($mejju-2023);
}

.ġunju-2023 {
  @include monthly-colour($ġunju-2023);
}

.lulju-2023 {
  @include monthly-colour($lulju-2023);
}

.awwissu-2023 {
  @include monthly-colour($awwissu-2023);
}

// html {
//   scrollbar-face-color: #eec800;
//   scrollbar-shadow-color: #006cb4;
//   scrollbar-highlight-color: #006cb4;
//   scrollbar-3dlight-color: #006cb4;
//   scrollbar-darkshadow-color: #006cb4;
//   scrollbar-track-color: #006cb4;
//   scrollbar-arrow-color: #c1c1d1;
// }
