::selection {
  background: $highlight;
  text-shadow: none;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  overflow-y: scroll;
  text-size-adjust: none;
  min-height: 101%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-print-color-adjust: exact;
  background-color: $paper;
  color: hsl(0, 0%, 39%);
  font-family: $sans, sans;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  min-height: 101%;
  print-color-adjust: exact;
}

.container {
  max-width: $max-content-width;
  margin: 0 auto;
}

main {
  padding: 0 1.2rem;
}

header {
  max-width: $max-content-width;
  margin: $body-margin auto;
}

@media screen and (min-width: $mobile-breakpoint-plusone) {
  header {
    max-width: $max-content-width;
    margin: ($body-margin * 4) auto ($body-margin * 3);
  }
}
