.generic {
  font-size: 1.2rem;
  .promo-list {
    margin-top: $body-margin;
    .promo {
      header {
        margin: 0 0 ($body-margin / 2);
      }
      display: block;
      margin-bottom: $body-margin;
    }
  }
}
