@mixin clamp($lines: 5) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  line-clamp: $lines;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list {
  position: relative;
}

.promo,
.promo-1,
.promo-2 {
  header {
    margin: 0 0 ($body-margin / 2);
    h1,
    h2 {
      font-size: 2rem;
    }
  }
  p {
    color: $lighter-ink;
  }
}

.home {
  h1,
  h2 {
    font-size: 2rem;
  }
}

.promo-1 {
  &:before,
  &:after {
    color: $magenta;
    font-family: "Cinzel Decorative", cursive;
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:before {
    content: "{";
    left: 0;
  }
  &:after {
    content: "}";
    right: 0;
  }
  p {
    font-family: "Sofia Sans Extra Condensed", sans;
    font-size: 1.4rem;
    font-weight: 400;
  }
  display: block;
  padding: 0 3rem;
  position: relative;
}

.promo-2 {
  border-radius: 4px;
  display: block;
  padding: 1rem 3rem;
  position: relative;
  &:before,
  &:after {
    color: $paper;
    font-family: "Cinzel Decorative", cursive;
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:before {
    content: "«";
    left: 0;
  }
  &:after {
    content: "»";
    right: 0;
  }
}

.promo-1.newsletter-subscribe {
  ::placeholder {
    color: #b5b5b5;
    opacity: 1;
  }
  p {
    color: $green;
    font-family: "Vollkorn", serif;
    font-style: italic;
    font-size: 1.8rem;
    text-transform: lowercase;
    white-space: nowrap;
  }
  display: flex;
  padding: 0 3rem;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input {
    border: 1px solid complement($green);
    border-radius: 0.25rem;
    padding: 0.5rem;
  }
  input[type="email"] {
    color: $green;
  }
  input[type="submit"] {
    color: $paper;
    background-color: complement($green);
    font-family: "Alegreya Sans SC", sans-serif;
    text-transform: lowercase;
  }
}

@media screen and (min-width: $mobile-breakpoint-plusone) {
  .promo {
    p {
      @include clamp();
    }
  }
  .promo-1,
  .promo-2 {
    p {
      @include clamp(3);
    }
  }
}
