$mobile-breakpoint: 750px;
$mobile-breakpoint-plusone: ($mobile-breakpoint + 1px);
$laptop-breakpoint: 1200px;

$max-content-width: 39rem;
$max-logo-width: 820px;
$max-width: 1300px;

$sans: "Alegreya Sans";
$sans-sc: "Alegreya Sans SC";
$serif: "Alegreya";
$serif-sc: "Alegreya SC";
$decorative: "Cinzel Decorative";

$dark-brown: hsl(26, 5%, 12%);
$light-brown: hsl(26, 5%, 28%);
$lighter-brown: hsl(26, 5%, 48%);
$faint-brown: hsl(26, 5%, 88%);
$greyer-brown: hsl(30, 1%, 66%);

$paper: hsl(60, 20%, 97%);
$ink: hsl(0, 0%, 13%);
$lighter-ink: hsl(0, 0%, 33%);
$highlight: hsl(60, 57%, 74%);

$saturation: 50%;
$lightness: 45%;

$faint-line: $faint-brown;
$light-text: $lighter-ink;

$body-font-size: 1.2rem;
$body-line-height: 1.4;
$body-margin: $body-font-size * $body-line-height;
$header-line-height: 1.1;

$blue: hsl(177, $saturation, $lightness);
$green: hsl(98, $saturation, $lightness);
$magenta: hsl(320, $saturation, $lightness);
$orange: hsl(27, $saturation, $lightness);
$pink: hsl(310, $saturation, $lightness);
$purple: hsl(250, $saturation, $lightness);
$red: hsl(0, 50%, 45%);
$reddish-pink: hsl(340, $saturation, $lightness);
$blue2: hsl(196, $saturation, $lightness);
$yellow: hsl(51, $saturation, $lightness);

$test: hsl(0, 50%, 45%);

$h1-color: $lighter-brown;
$h2-color: $lighter-brown;
$h3-color: $lighter-brown;
$h4-color: $lighter-brown;
$h5-color: $lighter-brown;

$mejju-2023: $green;
$ġunju-2023: $purple;
$lulju-2023: $blue;
$awwissu-2023: $pink;
