::selection {
  background: hsl(60, 67%, 65%);
}

body {
  background-color: hsl(60, 5%, 92%);
  padding: 1rem;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: 'Alegreya', serif;
  line-height: 1.4;
  color: rgb(43, 41, 40);
  margin-top: 0;
}

nav {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

header {
  margin-bottom: 1rem;
}

h1 {
  color: hsl(560, 65%, 51%);
  /* color: hsl(344, 25%, 51%); */
  font-size: 3rem;
  font-weight: 700;
  /* line-height: 1; */
}

h2 {
  color: rgb(133, 129, 128);
  font-size: 2rem;
  font-weight: 500;
  /* line-height: 1; */
}

h5 {
  color: #757575;
  font-family: 'Alegreya Sans SC', serif;
  text-transform: lowercase;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.h {
  white-space: nowrap;
}
